:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url('./images/background-pattern-desktop.svg');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
