$White: hsl(0, 0%, 100%);
$Light-pink: hsl(275, 100%, 97%);
$Grayish-purple: hsl(292, 16%, 49%);
$Dark-purple: hsl(292, 42%, 14%);
$Font-size: 16px;
$Mobile: 375px;
$Desktop: 1440px;
.card{
  display: flex;
  max-height: 650px;
  width: 450px;
  background-color: $White;
  border-radius: 15px;
  padding: 20px;
  text-align: start;
  box-shadow: 1px 0px 10px  ;
  
  .acordion{
    .header{
      margin: 8px 0;
      display: flex;
    
      h1{
        margin-left: 10px;
        font-weight: bold;
      }
    }
    
    .acordion-item{
    
      padding: 8px;
      margin-bottom: 20px;
      width: 100%;
      .acordion-header{
        width: 100%;
        border-bottom: 1px solid $Light-pink ;
      h2{
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        caret-color: #f00e0e;                 
        &:hover{
          color: $Grayish-purple;
        } 
        button{
          border: none;
          background-color: $White;
        &:hover{
          transform: scale(1.1);
        }
        }
      
      }

      }
      .acordion-body{
        transition:all 0.3s ease-in;
        color: #585050aa;
        overflow-wrap: break-word;
      }
    }
  }
}